.navbar{
    justify-content: flex-start;
    align-items: flex-start;
}
.navbar ul li a{
    font-size: 0.7rem;
}
.responsive img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
}